<div class="text-picture" [ngClass]="{'left-layout': layout === 1, 'right-layout': layout === 2}">
    <div class="picture">
        <img [src]="'../../../../assets/ntb-1.png'" alt="">
    </div>
    <div class="text">
        <div class="titel">{{title}}</div>
        <p>Het borrelgenootschap N.T.B. staat voor gezelligheid en vrijblijvendheid. Ten alle tijden dient het principe: ‘niets moet, alles mag’ aangehouden te worden. Dit betekent echter niet dat toewijding niet één van de standpunten van het genootschap is. Door dit huisreglement staan alle pilaren die N.T.B. representeren verwerkt. Elk lid dient het huisreglement te kennen. Grote veranderingen aan het huisreglement mogen alleen na goedkeuring van ⅔ van de ABV plaatsvinden. </p>
    </div>
</div>