.nav-bar {
    background-color: #800000;
    display: flex;
    color: #fff;
    padding: 0 16px;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    position: relative;
}

.logo {
    background: url("../../../../assets/top.svg");
    position: absolute;
    left: 30px;
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: center;
    background-size: contain;
    width: 4vh;
    height: 4vh;
    margin-right: 20px;
}

.menu {
    display: flex;
    font-family: 'Playkids';
    width: 100%;
    justify-content: center;
    gap: 4vw;
}

.menu-not-active {
    color: white;
    text-decoration: none;
}

.menu-not-active:hover {
    color: grey;
}

.menu-active {
    color: white;
    text-decoration: underline;
}

.menu-toggle {
    cursor: pointer;
    padding: 10px;
    display: none; /* Hide toggle button by default */
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

@media screen and (max-width: 768px) {
    .nav-bar {
        justify-content: flex-end;
    }

    .menu {
        position: absolute;
        width: 100%;
        right: 0;
        background-color: #800000;
        z-index: 1000;
        flex-direction: column; /* Stack menu items vertically */
        display: none; /* Hide menu by default on small screens */
        padding-top: 60px; /* Add padding to prevent overlap with navigation bar */
    }

    .menu.active {
        display: flex; /* Show menu when active */
    }

    .menu-toggle {
        display: flex;
        flex-direction: column; /* Show toggle button on small screens */
    }
}
