.lichting-naam {
    font-family: 'Playkidz';
    font-size: x-large;
    color: black;
    text-decoration: none;
     
}
.title {
    font-family: 'Playkidz';
    font-size: xxx-large;
    color: #800000;
    margin: 4px;
}

.under-title {
    color: black;
    font-size: large;
    margin: 8px;
}

.lichtingen {
    margin: 5%;
}